.zs-topTips {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    user-select: none;
    display: inline-block;
    padding: 0 40px;
    border-radius: 4px;
    box-shadow: 4px 6px 10px 3px rgba(40, 40, 40, .08);
    height: 60px;
    line-height: 60px;
    font-size: 0;
    img {
        vertical-align: middle;
        margin-right: 4px;
    }
    span {
        vertical-align: middle;
        font-size: 12px;
        color: #666;
    }
}