@import '../../assets/less/common.less';
.zs-button {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: @button-height - 2px;
    font-size: 12px;
    user-select: none;
    border-radius: @button-borderRadius;
    text-align: center;
    transition: all .3s ease;
    font-size: 0;
    .iconfont, .text {
        vertical-align: middle;
    }
    .iconfont {
        display: inline-block;
        width: 16px;
        line-height: 16px;
        font-size: 14px;
        text-align: center;
        margin-right: 9px;
    }
    .text {
        font-size: 12px;
    }
}

.zs-button-blue {
    background: @button-blue-backgroundColor;
    border: 1px solid @button-blue-backgroundColor;
    color: @button-blue-color;
    cursor: pointer;
    &:hover {
        background: @button-blue-hoverBackGroundColor;
        border-color: @button-blue-hoverBackGroundColor;
    }
}

.zs-button-white {
    background: @button-white-backgroundColor;
    border: 1px solid @button-white-borderColor;
    color: @button-white-color;
    cursor: pointer;
    &:hover {
        background: @button-white-hoverBackGroundColor;
        border-color: @button-white-hoverBorderColor;
    }
}

.zs-button-disable {
    background: @button-disable-backgroundColor;
    border: 1px solid @button-disable-borderColor;
    color: @button-disable-color;
    cursor: not-allowed;
}

.zs-button-normal {
    padding: 0 20px;
}

.zs-button-mini {
    padding: 0 10px;
}