@import '../../assets/less/common.less';
#main-router {
    position: absolute;
    left: @leftMenu-width;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    min-width: @main-router-min-width;
    >div {
        border: 20px solid #ececec;
        min-height: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }
}